:root {
	--bg-color: darkslategray;
	--bg-dark-color: rgb(30, 59, 59);
	--highlight-color: rgb(50, 50, 50);
}

* {
	font-family: "Segoe UI";
	color: white;
}

::selection {
	color: var(--highlight-color);
	background-color: white;
}

body {
	background-attachment: fixed;
	padding: 20px 0px 0px 0px;
	margin: 0px;
}

#titlebar {
	padding: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: var(--bg-color);
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.2) 4px 4px;
}

#icon {
	padding: 8px 10px 0px 30px;
	position:relative;
	top: 5px;
	transition: transform ease-out 0.4s;
}

#icon:hover {
	transform: scale(1.2);
}

#titleart {
	margin: 0px;
	float: right;
	position: relative;
	padding: 0px;
	transition: transform ease-out 2s;
}

#titlebar:hover #titleart {
	transform: translate(-50px, 0px);
}

#maintitle {
	color: white;
	display: inline;
	padding: 0px 20px;
}

#pagename {
	color: lightgray;
	display: inline;
	padding: 0px 30px;
}

#navbar {
	color: white;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
	overflow: hidden;
	position: relative;
	top: 0px;
	border: solid 1px var(--bg-dark-color);
	border-image-outset: 50px;
	width: 100%;
}

#navbar a {
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	float: left;
	padding: 10px 20px 10px 20px;
	transition: background-color ease-out 0.2s, transform 0.5s;
}
#navbar a:hover {
	background-color: var(--highlight-color);
	transform:translate(0px, 3px);
}

#content {
	padding: 0px;
	border-radius: 5px;
	background-image: linear-gradient(var(--bg-color), var(--bg-dark-color));
	width: 80%;
	min-height: 1000px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.2) 4px 4px;
	overflow: hidden;
}

#gameContainer{
	display: flex; 
	justify-content: center; 
	margin: 20px 10%; 
	background-color: var(--bg-dark-color); 
	border-radius: 10px; 
	width: 560px;
}

@media only screen and (max-width: 700px) {
	body {
	   margin: 0;
	   padding: 0;
	}
	#content {
	   width: 100%;
	   border-radius: 0px
	}
	#titlebar{
		width: 100%;
	}

	#maintitle {
		color: white;
		display: inline;
		padding: 0px 0px;
	}
	
	#pagename {
		color: lightgray;
		display: inline;
		padding: 0px 0px;
	}
 }

#contentart {
	margin: 0px;
	float: right;
	position: relative;
	padding: 0px;
	transition: transform ease-out 2s;
	transform-origin: 100% 0%;
}

#content:hover #contentart {
	transform: scale(1.1, 1.1);
}

#content p {
	padding: 30px;
}

#footer {
	width: 90%;
	height: 100px;
	background-color: var(--bg-dark-color);
	border-radius: 5px;
	margin: 20px auto 0px auto;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
}

#footer p {
	margin: 10px;
}

#footer-button {
	width: 100%;
	padding: 10px 0px;
	transition: all ease-out 1s;
}

#footer-button:hover {
	background-color: var(--bg-color);
}

#footer-button:hover svg {
	fill: var(--bg-dark-color);
}

#footer-button svg {
	margin-left: 50%;
	margin-right: auto;
}

table {
	border-radius: 5px;
	border: 1px solid white;
	border-collapse:collapse;
	width: 80%;
	justify-content: center;
	margin: 4px auto;
	color: white;
}

table tr th {
	padding: 10px 50px;
	margin: 4px auto;
	text-align: center;
	transition: background-color ease-out 0.2s;
}

table tr td {
	padding: 4px 10px;
	transition: background-color ease-out 0.2s;
}

table tr td:hover, table tr th:hover {
	background-color: var(--highlight-color);
}

::-webkit-scrollbar-track {
	background-color: var(--bg-color);
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 16px;
	background-color: var(--bg-color);	
}

::-webkit-scrollbar-thumb {
	background-color: var(--bg-dark-color);
	box-shadow: initial 10px 10px;
}

button {
	background-color: var(--bg-dark-color);
	transition: all ease-out 0.5s;
	color: white;
	border-radius: 20px;
	padding: 30px;
	border-style: none;
	cursor: pointer;
	box-sizing: border-box;
	margin-left: 30px;
}

button:hover {
	background-color: var(--highlight-color);
	transform: translateY(2px);
	box-shadow: var(--bg-dark-color) 5px 5px inset;
}

input {
	background-color: var(--bg-dark-color);
	border-style: none;
	border-radius: 5px;
	margin: 10px;
	align-content: center;
}

.dropdown-parent {
	background-color: var(--bg-dark-color);
	transition: all ease-out 0.5s;
	color: white;
	border-radius: 20px;
	padding: 30px;
	border-style: none;
	box-sizing: border-box;
	margin-left: 30px;
}

.dropdown-parent:hover {
	background-color: var(--highlight-color);
	transform: translateY(2px);
	box-shadow: var(--bg-dark-color) 5px 5px inset;
}

.dropdown-child {
	visibility: hidden;
}

.dropdown-parent:hover .dropdown-child {
	visibility: visible;
}
